<h1 class="title">Users</h2>
<h2 class="subtitle">Choose a user to log in as.</h2>
<ul class="block">
    <% @people.each do |person| %>
        <li>
            <%= button_to person.name, login_path, params: {person_id: person.id}, method: :post, class: 'button' %>
        </li>
    <% end %>
</ul>