<%= turbo_page_requires_reload %>
<% content_for :title, "Login" %>
<section class="section container">
    <h1 class="title">Users</h2>
    <h2 class="subtitle">Choose a user to log in as.</h2>
    <ul class="block">
        <% @people.each do |person| %>
            <li class="mt-3">
                <%= button_to person.name, login_path, params: {person_id: person.id}, method: :post, class: 'button' %>
            </li>
        <% end %>
    </ul>
</section>