nav, .card-header {
  border-bottom: 1px solid hsl(221,14%,24%);
}

.navbar-menu.is-active {
  border-top: 1px solid hsl(221,14%,24%);
}

.navbar-item.title {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

#action-bar {
  border-bottom: 1px solid hsl(221,14%,24%);
  
  .button {
    border: none;
  }
}

.card-header-title {
  color: rgb(171, 177, 191);
  font-weight: 800;
  padding: 10px 12px;
}

.notification {
  margin: 1rem;
}

@media screen and (max-width: 1023px) {
  #side-panel {
    padding: 0;

    .card {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 100;

      .card-header {
        height: 52px;
      }

      .card-footer {
        bottom: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
}

.grid.person-expense, .grid.headings {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  #expenses .date {
    background-color: hsl(0, 0%, 7%);
    border-top: 1px solid hsl(221,14%,24%);
    color: hsl(0, 0%, 88%);
    padding: 0.25rem 1rem;
    font-size: 0.9rem;
  }

  .grid.person-expense {
    border-top: 1px solid hsl(221,14%,24%);
    margin-bottom: 0;
    padding: 0.25rem 0.5rem;
    
    .expense-payee, .expense-dollar-amount-paid {
      color: hsl(0, 0%, 88%);
    }

    .expense-memo, .person-expense-dollar-amount {
      font-size: 0.9rem;
    }
  }
}

@media screen and (min-width: 769px) {
  #expenses {
    border-left: 1px solid hsl(221,14%,24%);
    border-bottom: 1px solid hsl(221,14%,24%);

    .cell {
      padding: 0.25rem 0.5rem;
    }

    .headings, .person-expense {
      padding: 0 0.5rem;
    }

    .person-expense {
      border-top: 1px solid hsl(221,14%,24%);
      color: hsl(0, 0%, 88%);
    }
   
    .headings {
      text-transform: uppercase;
      font-size: 0.8rem;
      
      .cell:nth-last-child(n+2) {
        border-right: 1px solid hsl(221,14%,24%);
      }
    }
  }
}