<% content_for :title, 'Transactions' %>
<% content_for :navbar_action do %>
  <div class="navbar-item is-hidden-desktop">
    <%= link_to new_expense_path, "data-turbo-frame": "new_expense" do %>
      <span class="icon">
        <i class="fa-solid fa-plus fa-lg has-text-link"></i>
      </span>
    <% end %>
  </div>
<% end %>
<div class="is-hidden-touch my-0" id="action-bar">
  <div class="container buttons">
    <turbo-frame id="new_expense_button">
      <%= link_to new_expense_path, class: "button", "data-turbo-frame": "new_expense" do %>
        <span class="icon">
          <i class="fa-solid fa-plus"></i>
        </span>
        <span>New Transaction</span>
      <% end %>
    </turbo-frame>
  </div>
</div>
<div class="columns is-desktop is-gapless">
  <div id="edit-panel" class="column is-one-quarter-desktop">
    <turbo-frame id="new_expense">
    </turbo-frame>
  </div>
  <div id="main-panel" class="column is-three-quarters-desktop">
    <div id="expenses" class="fixed-grid has-3-cols-mobile has-7-cols-tablet">
      <div class="headings grid is-gap-0 is-hidden-mobile">
        <div class="cell">Date</div>
        <div class="cell">Payee</div>
        <div class="cell">Memo</div>
        <div class="cell has-text-right">Total</div>
        <div class="cell is-col-span-2 has-text-right">Amount Owed</div>
        <div class="cell has-text-right">Cumulative Sum</div>
      </div>
      <% @person_expenses.each do |person_expense| %>
        <%= render person_expense %>
      <% end %>
    </div>
  </div>
</div>