<% content_for :title, 'Transactions' %>
<% content_for :navbar_action do %>
  <div class="navbar-item is-hidden-desktop">
    <%= link_to new_expense_path, "data-turbo-frame": "new_expense" do %>
      <span class="icon">
        <i class="fa-solid fa-plus fa-lg has-text-link"></i>
      </span>
    <% end %>
  </div>
<% end %>
<div class="container buttons is-hidden-touch my-0" id="action-bar">
  <turbo-frame id="new_expense_button">
    <%= link_to new_expense_path, class: "button", "data-turbo-frame": "new_expense" do %>
      <span class="icon">
        <i class="fa-solid fa-plus"></i>
      </span>
      <span>New Transaction</span>
    <% end %>
  </turbo-frame>
</div>
<div class="columns container">
  <div id="expenses" class="column is-half py-0">
    <% @expenses.each do |expense| %>
      <%= render expense %>
    <% end %>
  </div>
  <div id="edit-panel" class="column is-half py-0">
    <turbo-frame id="new_expense">
    </turbo-frame>
  </div>
</div>