<% content_for :content do %>
    <% if flash.any? %>
      <div class="container">
        <% flash.each do |type, msg| %>
          <div class="notification is-<%= type %>" data-turbo-temporary>
            <%= msg %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
<% end %>
<%= render template: "layouts/_main" %>